
* {
  box-sizing: border-box;

}
:root {
  --bggradient: linear-gradient(to bottom, #4949FF,white);
  --bggradient2: linear-gradient(to top, black, white);
}
html {
  scroll-behavior: smooth;
}
header a {
  
  font-size: 0.9em;
  color: whitesmoke;

}





header .nav-item {
  padding: 0.9em;

}
header .nav-link:hover {
  color: black;
}
header .row .col-md-7 {
  padding-top: 35vmin ;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: var(--bggradient);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}
header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}
.aboutme {
  padding: 20vmin 0vmin;

}
.aboutme .row .col-md-6 .panel:hover {
  box-shadow: 20px 25px 42px 20px rgba(0, 0, 0, 0.2);
  padding: 6vmin 6vmin 15vmin 6vmin;
}

.aboutme .row .col-md-6 .a img {
  width: 80%;
  border-radius: 0.2em;
  background: white;
}

.aboutme .row .col-md-6:last-child {
  position: relative;
  background: white;
}
.aboutme .row .col-md-6 .panel {
  position: absolute;
 background: white;
  border-radius: 3px;
  text-align: left;
  padding: 5vmin 5vmin 15vmin 5vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
 }
.aboutme .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
  background: white;
}
.skill  {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}
.skill > p {
 padding-bottom: 10vmin;
}

.skill .cards .card {
  width: 30%;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
}
.card:hover{

  background:var(--bggradient);
  color: white;
}
.card .img-top{
  align-content: center;
}

.education{
  background:;
  padding-bottom: 16vmin;
}
.education .container h1 {
  font-size: 6vmin;
  padding-top: 10vmin;
  
}

.education.team {
  padding: 10vmin 4vmin;
}

.education .card {
  width: 22em;
  margin-top: 10vmin;
  height: 25em;
  
}
.education .card:hover{
  background: var(--bggradient);
}

.education .card .card-text {
  padding: 0.5em;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: var(--bggradient);
}



footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
